@{
    ViewBag.Title = "Countries List";
}

<h2>Countries List</h2>

<ul>
    @foreach (string strCountries in (List<string>)ViewData["Countries"]/*ViewBag.Countries*/ )
    {
        <li>@strCountries</li>
    }
</ul>
